@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "sb-admin-2.less";

.hidden {
    display: none;
}

.bordered {
    border: 1px solid black;
}

.clickable, a {
    cursor: pointer;
}

.square {
    width: 400px;
    height: 400px;
}

.rectangle {
    width: 1000px;
    height: 400px;
}

.nav-tabs {
    margin-top: 20px;
}

.bookmark-button {
  margin-top: 1em;
  cursor: pointer;
  .fa-circle {
    color: gray;
    &.active {
      color: teal;
    }
  }
}
